

body {
	/* width: 800px; */
	width: 90%;
	/* margin-left: auto;
	margin-left: 5%;
	margin-right: 0; */
	font-family: 'sans-serif', 'Open Sans', 'Courier New', Courier, monospace;
	font-size: 1.15em;
	color: rgb(80,80,100);;
	margin: 2% 5%;
}
i { 
	font-size: 4em;
}


.content { 
	padding-top: 1em;
}

.button {
	background-color: #eee;
    border-width: thin;
    color: black;
    padding: 0.4em;
    text-align: center;
    font-size: 14px;
	border-radius: 2px;
}

.button:hover {
	background-color: #ddd; 
	color: black;
}

.sm-button:hover {
	background-color: #ddd; 
	color: black;
}

.sm-button {
	background-color: #eee;
    border-width: thin;
    color: black;
    padding: 0.4em;
    text-align: center;
    font-size: 14px;
	border-radius: 2px;
}

.readonly-input {
	padding: 0.4em;
	text-align: center;
}

h1 {
	font-weight: lighter;
    font-size: 2.2em;
}


.inline {
	display: inline;
}

.cnt { 
	display: inline-grid;
	width: 35%;
}



.cnt-small {
	display: inherit;
}

#date-time-cnt {
	vertical-align: top;
}

#date-table {
	vertical-align: text-bottom;
}

#time-numeric {
	font-size: 4em;
}

#time-period {
	/* vertical-align: top; */
	font-size: 2em;
	/* font-weight: lighter; */
}

#date-weekday {
    font-size: 2.5em;
    font-weight: lighter;
	padding-left: 0.7em;
	vertical-align: super;
}

#date-month-day {
    font-size: 2.5em;
    font-weight: lighter;
	padding-left: 0.2em;
	vertical-align: super;
}

#weather-cnt {
	vertical-align: top;
	padding-top: 1em;
	display: table-cell;
	/* background-color: #333333; */
}

#weather-icon {
	width: 100px;
}

#weather-table {
	vertical-align: top;
}

#weather-city {
	font-size: 2em;
}

#weather-celsius {
	font-size: 2.5em;
}

#left-box  h2 {
	color: #555;
}

#status-box  h3 {
	margin-top: 0;
	font-weight: 300;
	font-size: 1.2em;
}

#schedule-cnt {
	padding: 0 0.8em 2em 0.8em;
	/* width: 40%; */
	margin-top: 2em;
	display: inline-block;
	height: 600px;
}


#schedule-header {
	font-weight: lighter;
}


/* color changing with js */

.schedule-event {
	border-radius: 0.6em;
	padding: 0.5em 1em;
	margin: 0.4em 0.4em;
	font-stretch: expanded;

	/* background-color: rgba(176,0,0,0.1);
	border-color: 	rgba(176,0,0,0.9); */
}

.schedule-event-time {
	font-size: 0.7em;
	/* padding: 0.2em 0.5em; */
}

.schedule-event-title {
	font-size: 1.1em;
	padding: 0.2em 0.5em;
}

.schedule-event-desc {
	font-size: 0.8em;
	padding: 0.2em 0.5em;
}

.inner-content {
	margin-top: 10pt;
    border-radius: 0.5em;
    border: thin gray solid;
    padding: 1.5em 0 0 0;
}

#piechart-cnt { 
	width: fit-content;
	display: inline-block;
	vertical-align: top;
	border-style: none;
 
	width: 58%;
    margin: 0;
    padding: 5% 0 0 1%;
}


#status-box {
	float: right;
	width: 250px;
	margin-right: 2em;
	min-height: 200pt;
	border-radius: 0.5em;
	background-color: #f3f3f3;
	padding: 2em;
	right: 0;
	overflow:hidden;

}

#left-box {
	flex:1;
	margin-left: 2em;
	min-height: 200pt;
	left: 0;
}

#error-box h3 {
	color: black;
}

#error-box {
    margin-top: 2em;
    padding: 2em;
    border: none;
    background-color: blanchedalmond;
	display: none;
}
